@charset "UTF-8";

body {
	/*background-image: url("https://raw.githubusercontent.com/lenokp21/projeto-glass-html5/gh-pages/_imagens/fundo.jpg");*/
	background-color: hsla(165, 81%, 93%, 0.5);
	color: rgba(0, 0, 0, 0.99);
}

p {
	text-align: left;
	text-indent: 50px;
}