@charset "UTF-8";

:root {
	--background-color: #97dcf6;
	--border-shadow-color:  0px 0px 7px rgba(0,0,0,0.7);;
}

body {
	background-color: var(--background-color);
	color: rgba(0, 0, 0, 1);
}

div#interface {
	width: 80%;
	
	background-color: #ffffff;
	
	margin: -20px auto 0px auto;
	padding: 10px 10px 10px 10px;
	
	box-shadow: var(--border-shadow-color);
}

p {
	text-align: left;
	text-indent: 50px;
}

header#cabecalho {
	
}

header#cabecalho img#icone {
	position: absolute;
	
	left: 80%; 
	top: 50px;
}


/* Formatação de imagens com legendas */
figure.foto-legenda {
	border: 8px solid white;
	position: relative;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/* formatação do menu */
nac#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -15px;
	left: 55%;
}

nav#menu li {
	display: inline-block;
	background-color: var(--background-color);
	padding: 10px;
	margin: 2px;
	
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	
	box-shadow:  var(--border-shadow-color);
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
}